# NOTE: This I2P config file must use UTF-8 encoding
# Last saved: 2020年12月17日 上午9:55
i2np.ntcp2.iv=xehq~BzVKGQtg5sTgG72TQ==
i2np.ntcp2.sp=PI83S5fF64~j4Zmm8OpKB2nNIg3pqQOnXSm1b~MEWws=
i2np.udp.internalPort=10495
i2np.udp.introKey=SqSipk8apPuD2dNaW~hhhuZiUFL7sai23jTsYruW2CI=
i2np.udp.port=10495
router.firstInstalled=1608170107145
router.firstVersion=0.9.48
router.fixedBasePerms=true
router.inboundPool.randomKey=jzJdXDmIxjaQH4pUPz4qBF-HxJfNe84Z2ZY4VYoXYAg=
router.outboundPool.randomKey=HHaOBVfvNyUIx2eRaCHORhSgPMXUFFsNO1j5DMdR5QI=
router.previousVersion=0.9.48
router.updateLastInstalled=1608170107145
